.financial-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-left: 280px;
    margin-top: -960px;
}


.financial-title {
    text-align: left;
    margin-bottom: 20px;

}

.cards-row {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;

}

.card{
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    background-color: #f4f4f4;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.balance-card {
    background-color: #6545e0; /* светло-зелёный */
}

.balance-amount {
    font-size: 40px;
    color: #f4f4f4;
    font-weight: bold;
}

.kaspi-image {
    width: 200px;
    height: auto;
    margin: 10px 0;
    border-radius: 8px;
}

.warning-text {
    color: #d32f2f;
    font-weight: bold;
    margin-bottom: 10px;
}

.test-amount-input {
    background: white;
    padding: 15px;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 290px;
}

.pay-button {
    padding: 10px 20px;
    background-color: #6545e0;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 40px;
}

.pay-button:hover {
    background-color: #4D1A9F;
}

.balance{
    color: #f4f4f4;

}

.text{
    font-size: 25px;
}

/* Секция истории платежей */
.history-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.history-container h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: grey;
    text-align: left;
}

/* Таблица истории */
.history-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;

}

.history-table th,
.history-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;

}

.history-table th {
    background-color: #eaeaea;
    font-weight: 600;

}

.history-table tr:nth-child(even) {
    background-color: #f4f4f4;

}

.history-table tr:hover {
    background-color: #e0f7fa;
}