.personal-info-container {
    margin-top: -900px;
    max-width: 1500px;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 230px;
    gap: 30px;
    width: 1000px;
}

.personal-info-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.personal-info-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.personal-info-avatar {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
}

.personal-info-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.personal-info-name {
    font-size: 24px;
    font-weight: bold;
}

.personal-info-status {
    color: gray;
    font-size: 14px;
}

.personal-info-fields {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 40px;
}

.personal-info-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 48%;
}

.personal-info-input {
    width: 400px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    font-size: 16px;
    color: #333;

}

.personal-info-input:focus {
    outline: none;
    border-color: #7a5af5;
}

.personal-info-password {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.personal-info-password-btn {
    background: black;
    color: white;
    padding: 20px 30px; /* Увеличил отступы для высоты */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    height: 40px; /* Увеличил высоту */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
    width: 420px;
    margin-top: 5px;
    margin-right: 60px;
}

.personal-info-password-btn:hover {
    background: #333;
}


.personal-info-save-btn {
    background: #7a5af5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background 0.3s;
}

.personal-info-save-btn:hover {
    background: #6545e0;
}
