/* Общие стили для контейнера */
.repair-container {
    margin-top: -1060px;
    padding: 20px;
    width: 740px;
   /* margin: 0 auto; */
    margin-left: -50px;

}


/* Заголовок и кнопка */
.repair-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* Кнопка добавления */
.add-button {
    background: #6545e0 !important;
    color: white;
    font-size: 20px;
    border: none;
    padding: 5px 12px;
    border-radius: 15%;
    cursor: pointer;
    margin-left: -200px;
}

.add-button:hover {
    background: #4D1A9F;
}

/* Стили для таблицы */
.repair-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
}

.repair-table th:first-child {
    border-top-left-radius: 8px;
}

.repair-table th:last-child {
    border-top-right-radius: 8px;
}

.repair-table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.repair-table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.repair-table th, .repair-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.repair-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.repair-table th {
    background: #007bff;
    color: black;
}

.repair-table tbody tr {
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.repair-table tbody tr:hover {
    background: #f1f1f1;
}
