.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

}

.modal-content {
    background-color: white;
    padding: 32px 70px 32px 32px; /* увеличен правый паддинг */
    border-radius: 16px;
    width: 400px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-form label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.modal-form input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    width: 100px;
}

.modal-buttons {
    gap: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 200px;
}

.save-button {
    background-color: #2563eb;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.cancel-button {
    background-color: #e5e7eb;
    color: #333;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;

}

.save-button:hover {
    background-color: #1e40af;
}

.cancel-button:hover {
    background-color: #d1d5db;
}