/* Layout.css */
.layout-header {
    width: 98%;
    height: 70px;
    background: #F6F6F6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #A0A0A0;
    margin-top: -150px;
}

/*@font-face {
    font-family: 'Nico Mijo';
    src: url('/fonts/NicoMijo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

.DMS {
    display: flex;
    justify-content: flex-start; /* Выравнивает контент слева */
    align-items: flex-start; /* Если нужно прижать к верхнему краю */
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.notification {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-avatar {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

.logo {
    font-size: 18px;
    width: 25%; /* 50% от родительского контейнера */
    height: auto; /* Автоматическая высота */
    margin-top: 15px;
    margin-left: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между логотипом и текстом */
}