.accommodation-container {
    padding: 24px;
    background-color: #ffffff;
    border-radius: 16px; /* Округляем углы контейнера */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    min-height: 100vh;
    margin-top: -550px;
}

.accommodation-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 24px;
}

.accommodation-table {
    width: 100%;
    border-collapse: collapse; /* Оставляем для обычных ячеек */
    border-radius: 16px; /* Округляем только внешние углы таблицы */
    overflow: hidden; /* Скрываем части, выходящие за границы */
}

.accommodation-table th,
.accommodation-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.accommodation-table th {
    background-color: #f2f2f2;
    font-weight: 600;
    color: #666;
}

.accommodation-table tr:nth-child(even) {
    background-color: #f9fafb;
}

.accommodation-table .actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.accept-btn,
.reject-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
}

.accept-btn {
    background-color: #6545e0;
    color: white;
    border: none;
}

.accept-btn:hover {
    background-color: #4D1A9F;
}

.reject-btn {
    background-color: black;
    color: white;
    border: none;
}