.repair-container {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.filter-section {
    margin-bottom: 15px;
}

.repair-table {
    width: 100%;
    border-collapse: collapse;
}

.repair-table th,
.repair-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.repair-table th {
    background-color: #f4f4f4;
}

.period-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: white;
    color: #888; /* Серый текст по умолчанию */
    font-size: 18px;
    min-width: 200px;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    appearance: none;
    width: 100px;
}

.clickable-row {
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* немного мягче */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(4px); /* эффект стекла */
}

.modal-content {
    background: #ffffff;
    padding: 24px;
    width: 520px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 16px; /* как у основного контейнера */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.modal-content h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
}

.modal-images {
    margin: 16px 0;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.modal-img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
    border: 1px solid #eee;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.modal-status {
    margin-top: 12px;
    font-size: 16px;
    color: #555;
}

button {
    margin-top: 20px;
    padding: 10px 24px;
    background: #6545e0;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: #4D1A9F;
}